<header class="header">

    
    
    <div class="col">
        <div class="content"> 
            <h1 class="heading">GoodReads <br><span>Meet your next favourite book</span></h1>
            <p class="info" style="color: #fff;">Find and read more books you'll love, and keep track of the books you want to read. Be part of the world's largest community of book lovers on Goodreads.</p>
            
        </div>
    </div>
    <div class="col">
        
        <span>

            <img src="https://uc5dfa8b940553c5c921ac43fb94.previews.dropboxusercontent.com/p/thumb/ABVOEaHekC7sgySgZ51eWZ1Q1GxleuAz5yXQk3nEY2xYljdB721Lv1vwf9Km90etBNsgmy1hfVta0gQgBHjq6EKfM9lcozNEnCjAwd7YkyT5UkAFCkFdHbU_SuvebojclsQtAVnT8flLyRnE2_GiIst-1UyQiT1dXZUpdtTWuJwpmgnnPU0oiCTMFEFKT9klu8k4979e2K_u4OKXrm738vLuirQX2fcFGHGKjGFwezdCrvtvUxH1DYlVhhm8ClbjNzSdo3cmZjlYej9wr5GSK5d26DXnxCh5Qdah029OOYriVLJPw_5jHeRFLJXaBfnpFz3XYMOpHnXSwxOjO6WM7KusjA8PR-8df2SoFoHq174iUFXaxcScMyYyNtX1qddf4LhrdZELiS4B-Bp23R2YuZOz/p.png?fv_content=true&size_mode=5" alt="" class="svg">
        </span>
    </div>

</header>

